/*Navigation*/
  .nav-link{
	font-family: "ALK Life", sans-serif;
}


/*Banner*/
.image-box{
	width:100%;
	/*background-image: url('../img/banner.jpg');
	height:480px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;
	position:relative;	*/
	/*position:relative;*/
}
img{
	width:100%;
}
.text-on-img{
	/*position: absolute;*/
	top:20%;
	left:45%;
	font-size:30px;
    margin: 20px 10px 5px 4px;
}

/*Grid*/
.service{
	background-color: #ededed;
	border:1px solid black;
}
.service p{
	font-family: 'Lato', sans-serif;
}
.service .rounded-circle{
	width:80px;
	padding: 15px;
}

/*Contact-Form*/
.send-bg{
    color: #fff;
    border: none;
}
.form1{
	width:100%;
	max-width: 560px;
}

/*Footer*/
.fa-envelope-square{
	font-size:25px;
}
.fa-envelope-square:hover{
	color:green;
	transform: rotate(90deg);
}


/*slider*/
.carousel-img{
	width:100%;
	height:460px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


/*about-section*/
.text{
	width: 100%;
    max-width: 900px;
    margin:0 auto;  
    /*Margin:0 auto--davamate rom gavcentrot chveni tekstebi*/
}
.clear{
	clear:both;
}
.text-float{
    max-width: 460px;
}

@media(max-width:992px){
	.text-float{
		max-width:100%;
	}
}

@media(max-width: 770px){
	.about-us-text{
		flex-direction: column;
	}
}


